body {
    background-color: black;
    
    

}

#principal {
    
    background-color: black;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    /*display: flex;
    flex-direction: column;*/
}

.cajitas {
    height: 25vh;
    width: 100%;
    background-color: white;
}