#principal {
    background-color: black;
    position: absolute;
    height: 100%;
    width: 30%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
}

#cabecera {
    height: 10%;
    width: 100%;
    background-color: blue;
}

.cajitas {
    background-color: grey;
    height: 15vh;
    width: 100%;
}

#CAJAS{
    height: 45%;
    
}
#cajas {
    /* display: flex; */
    /* flex-direction: column; */
    height: 200px;
    overflow-y: scroll;
    gap: 1vh;
}

#caja1 {
    background-color: yellow;
    
    box-sizing: border-box;

}

#MANUEL {
    /*display: flex;
    flex-direction: row;*/
    padding: 1vh;
    box-sizing: border-box;
    
    height: 100%;
    width: 100%;
    background-color: aliceblue;
    align-items: center;
    

}

.martina {
    background-color: blue;
    border-radius: 2vh;
    width: 100%;
    height: 100%;
}

#caja2{
    background-color: blue;
    border-radius: 2vh;
    
}

#abajoa {
    background-color: blue;
}